<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link rel="icon" href="/img/cloud.svg">
  </head>
  <body>
    <div class="content">
    {{> header }}
    {{ message }}
    </div>
    {{> footer }}
  </body>
</html>
