<!DOCTYPE html>

<html>
    <head>
      <link rel="stylesheet" href="/css/styles.css">
      <script type="text/javascript" src="/js/app.js"></script>
      <title>{{ title }}</title>
      <link rel="icon" href="/img/cloud.svg">
    </head>

    <body>
      <div class="content">
        {{> header }}
        <p>{{ message }}</p>
      </div>
      {{> footer}}
    </body>
</html>
