<!DOCTYPE html>

<html>
    <head>
      <link rel="stylesheet" href="/css/styles.css">
      <script type="text/javascript" src="/js/app.js" defer></script>
      <title>{{ title }}</title>
      <link rel="icon" href="/img/cloud.svg">
    </head>

    <body>
      <div class="content">
        {{> header }}
        <p class="main-text">{{ message }}</p>

        <form class="weather-form">
          <input type="text" name="location" placeholder="Type address or location" class='location-field'>
          <button class="search-button" name="Search Weather">Get the Weather</button>
        </form>

      </div>
      {{> footer}}
    </body>
</html>
