h1 {
  color: blue;
  font-size: 5em;
}

.portrait {
  width: 75%;
  display: block;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
}

body {
  font-family: sans-serif;
  color: #333333;
  max-width: 70%;
  margin: 0 auto;
  padding: 2rem;

  display: flex;
  flex-direction: column;
  min-height: 100vh

}

.content {
  flex-grow: 1;
}

footer {
  background: aliceblue;
  padding: 1rem;
  margin: 1rem;
  color: #888888;
  border: .2rem solid #eeeeee;
}

header {
  margin-top: 1rem;
  margin-bottom: 3rem;
}

nav a{
  color: #888888;
  margin-right: 1.5rem;
  text-decoration: none;
}

input {
  border: .1rem solid #cccccc
  padding: .75rem
}

button {
  cursor: pointer;
  border: .1rem solid #888888;
  background: #888888;
  color: white;
}

html {
    background: floralwhite;
}
